language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - npm test
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  on:
    branch: dev
  email: jascee.gtbit@gmail.com
  name: Jasmeet Singh
  committer-from-gh: true
env:
  global:
  - secure: mcUCykGm4bUZ3CaW6AxrIMFzuAYjA98VIz6YmYTmM0/8sp/B/54JtQS/j0ehCD6B5BwyW6diVcaQA2c7bovI23GyeTT+TgfkuKRkzDcoY51ZsMDdsflJ94zV7TEIS31eCeq42IBYdHZeVZp/L7EXOzFjVmvYhboJiwnsPybpCfpIH369fjYKuVmutccD890nP8Bzg8iegssVldgsqDagkuLy0wObAVH0FKnqiIPtFoMf3mDeVmK2AkF1Xri1edsPl4wDIu1Ko3RCRgfr6NxzuNSh6f4Z6zmJLB4ONkpb3fAa9Lt+VjJjdSjCBT1OGhJdP7NlO5vSnS5TCYvgFqNSXqqJx9BNzZ9/esszP7DJBe1yq1aNwAvJ7DlSzh5rvLyXR4VWHXRIR3hOWDTRwCsJQJctCLpbDAFJupuZDcvqvPNj8dY5MSCu6NroXMMFmxJHIt3Hdzr+hV9RNJkQRR4K5bR+ewbJ/6h9rjX6Ot6kIsjJkmEwx1jllxi4+gSRtNQ/O4NCi3fvHmpG2pCr7Jz0+eNL2d9wm4ZxX1s18ZSAZ5XcVJdx8zL4vjSnwAQoFXzmx0LcpK6knEgw/hsTFovSpe5p3oLcERfSd7GmPm84Qr8U4YFKXpeQlb9k5BK9MaQVqI4LyaM2h4Xx+wc0QlEQlUOfwD4B2XrAYXFIq1PAEic=
  matrix:
  - USE_NETWORK=true
  - USE_NETWORK=false
  - secure: 4ZP1EOikz7VBvwAakCYy+ZXLCuPLIvKPtRo1rHttyr98yxj34iwNux3ILcbZi1upHxyAVXyvX9c+n3blClSE5a9lsJQm+Vxc7p22V3jnGPMKgO8VUbNt20CdhdxFjPehBDXca0YY010EjElsOJVOjsoRkSbCVJkiMZDjHmr99S5sIpSlK6CnK1gt0FqqZ4+Yv72wv1RXOB2yzTnC+WQKPAGrKy/1zucPwCjRqf8bEKvMSZTbJmMcabXFoITl8H4Mk7m5zUmgg01Hsqvu6vYsCwSLxh+/jLL88T2CWTda3mKZNrgmudDfepdquolv7nwp+8FW4hhSeIrs6uyDm9ecAtMhAIhf+4C36PTYdOU4twCTZ0MaA+rG+rXu4xQpjURNsAFJiTheLaxKAFz8CiPTHMzHAeIYTgtEUMbJwJHfMF2nLtC1MsxxGQwJ9uQ9rTl6yPSxtH4zAyxVMJj3x4nuC8un4Tl08bOH0LriPokl//yKrO4ZggbcQwtmdnLHq9LmqWcI/GCkVsDnw0EcNyaLkRXJGwNwJiVT2rqyCGob3M6N1CXY7+irds4hBm+8seyXdRcGTuVXuLHcUXuYMYy87vrhufVx8sd0TcCJHXlTeeb6q9M2dynJECzrkCWBLtwz69tEFjmbdr21iAOv2AXkyZY8rL3N+rAlSo/UHB+Nuu0=
